{% load static %}
<nav class="flex justify-between py-5 px-5 relative w-full z-50">
  <div class="w-6/12">
    {% if not request.path == '/' %}
      <a href="/" >
    {% endif %}
    <img src="{% static 'netflix.png' %}" alt="logo" class="w-40" />
  </div>

  <div class="w-3/12 justify-items-end md:w-">
    {% if request.user.is_authenticated %}
    <form action="{% url 'account_logout' %}" method="POST">
      {% csrf_token %}
      <button class="bg-primary_red py-1 px-3 text-white md:text-lg rounded-md">
        Logout
      </button>
    </form>
    {% else %}
    <form action="{% url 'account_login' %}" method="POST">
      {% csrf_token %}
      <button class="bg-primary_red py-1 px-3 text-white md:text-lg rounded-md">
        Sign In
      </button>
    {% endif %}
  </div>
</nav>